.Popular-images{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    gap:10px;
}
.Popular-images img{
    width: 49%;
    
}
.popular-box{
    width: 49%;
    height: 200px;
    background: red;
    border-radius: 20px;
    background: linear-gradient(326.97deg,#4200ff -74.45%,#05ff00 122.34%)
}
.popular-box h5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    letter-spacing: -.5px;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}